FORMAT: 1A
HOST: http://gateway.dnajobs.cz/

# Hiri Admin API

Hiri Admin API provides Hiri Admin functionality.
Hiri API is split into 3 separate parts: General Api, Admin Api and Testing API.

### API consumers

API consumers are called "Clients" and they must be registered. Each client
is given an id, name and secret key to access the API. The API can be accessed
by using HTTP Basic Authentication with your username and secret.

Each client is only served the data which belong to it. That means you
can't access other client's resources.

### Data formats

#### Response formats
Hiri API Gateway uses HATEOAS technology and its responses are in
application/hal+json format.
See http://stateless.co/hal_specification.html.

#### Errors
Any errors are described according to HTTP Problem draft, formatted as application/problem+json.
See https://tools.ietf.org/html/draft-nottingham-http-problem-07.

#### Dates
All dates are served in ISO 8601 format in UTC timezone.
ISO 8601 date formats in any timezone are accepted.


# Group Application States

## Company's Application States Collection [/api/companies/{company_id}/application-states?limit={limit}&page={page}&sort={sort}]

+ Parameters
    + limit (number, optional) - Limits number of candidates returned in the request
    + page (number, optional) - Distance from beginning of the array of available candidates
    + sort (string, optional) - Sorts the result in the given order. The format for sort is "column+ASC,column+DESC"
    + company_id (number, required) - ID of the Company

### List Company's Application States [GET]

Retrieves list of all Application States belonging to Company.

+ Response 200 (application/hal+json)

        {
            "_embedded": {
                "application_states": [
                    {
                        "id": 1,
                        "order": 10,
                        "created": "2016-02-06T21:17:17+0100",
                        "_links": {
                            "self": {
                                "href": "\/api\/application-states\/1"
                            }
                        },
                        "_embedded": {
                            "title": {
                                "en": "New",
                                "cs": "Nov\u00fd"
                            }
                        }
                    },
                    {
                        "id": 2,
                        "order": 20,
                        "created": "2016-02-06T21:17:17+0100",
                        "_links": {
                            "self": {
                                "href": "\/api\/application-states\/2"
                            }
                        },
                        "_embedded": {
                            "title": {
                                "en": "Active",
                                "cs": "Aktivn\u00ed"
                            }
                        }
                    },
                    {
                        "id": 3,
                        "order": 30,
                        "created": "2016-02-06T21:17:17+0100",
                        "_links": {
                            "self": {
                                "href": "\/api\/application-states\/3"
                            }
                        },
                        "_embedded": {
                            "title": {
                                "en": "Interview",
                                "cs": "Pohovor"
                            }
                        }
                    },
                    {
                        "id": 4,
                        "order": 40,
                        "created": "2016-02-06T21:17:17+0100",
                        "_links": {
                            "self": {
                                "href": "\/api\/application-states\/4"
                            }
                        },
                        "_embedded": {
                            "title": {
                                "en": "Accepted",
                                "cs": "P\u0159ijat\u00fd"
                            }
                        }
                    },
                    {
                        "id": 5,
                        "order": 50,
                        "created": "2016-02-06T21:17:17+0100",
                        "_links": {
                            "self": {
                                "href": "\/api\/application-states\/5"
                            }
                        },
                        "_embedded": {
                            "title": {
                                "en": "Refused",
                                "cs": "Odm\u00edtnut\u00fd"
                            }
                        }
                    }
                ]
            }
        }

### Create an Application State [POST]

Creates an Application State.

+ Request (application/json)

    + Attributes
        + todo (boolean, required) - Will be added in the future

    + Body

            {
                "todo": true
            }

+ Response 201 (application/hal+json)

        {
            "todo": true
        }


## Application State [/api/application-states/{id}]

+ Attributes
    + id (number, required) - ID of the Application State.
    + order (number, required) - Order of the Application State among the Company.
    + embedded.title (object, required) - Localized title of the Application State.
    + embedded.company (object, required) - Company to which the Application State belongs.

+ Parameters
    + id (number, required) - ID of the Application State.

### Retrieve an Application State [GET]

Retrieves Application State with given ID.

+ Response 200 (application/hal+json)

        {
            "todo": true
        }

### Update an Application State [PUT]

Updates an Application State with given ID.

+ Request (application/json)

    + Attributes
        + todo (boolean, required) - Will be added in the future

    + Body

            {"todo": true}

+ Response 200 (application/hal+json)

        {
            "todo": true
        }

### Delete an Application State [DELETE]

Deleted an Application State with given ID.

+ Request (application/json)

    + Attributes
        + todo (boolean, required) - Will be added in the future
        + transfer_to_id (number, required) - ID of the Application State to which Candidates will be Transfered.

    + Body

            {"todo": true, "transfer_to_id": 1}

+ Response 200 (application/hal+json)

        {
            "ok": true
        }



# Group Application Views

## Application Views Collection [/api/application-views?limit={limit}&page={page}&sort={sort}]

+ Parameters
    + limit (number, optional) - Limits number of candidates returned in the request
    + page (number, optional) - Distance from beginning of the array of available candidates
    + sort (string, optional) - Sorts the result in the given order. The format for sort is "column+ASC,column+DESC"

### List Application Views [GET]

Lists all Application Views.

+ Response 200 (application/hal+json)

        {
            "_embedded": {
                "application_views": [
                    {
                        "id": 1,
                        "created": "2016-05-13T13:24:12+0200",
                        "_links": {
                            "self": {
                                "href": "\/api\/application-views\/1"
                            }
                        },
                        "_embedded": {
                            "application": {
                                "id": 1,
                                "created": "2016-05-13T13:24:12+0200",
                                "state": "new",
                                "email": "john.doe@example.com",
                                "name": "John Doe",
                                "price": 100,
                                "why": "I wanna be the very best",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/applications\/1"
                                    }
                                }
                            },
                            "user": {
                                "id": 1,
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "created": "2016-05-13T13:24:12+0200",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/users\/1"
                                    },
                                    "language": {
                                        "href": "\/api\/languages\/cs"
                                    }
                                },
                                "_embedded": {
                                    "language": {
                                        "id": "cs",
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/languages\/cs"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    {
                        "id": 2,
                        "created": "2016-05-13T13:24:12+0200",
                        "_links": {
                            "self": {
                                "href": "\/api\/application-views\/2"
                            }
                        },
                        "_embedded": {
                            "application": {
                                "id": 2,
                                "created": "2016-05-13T13:24:12+0200",
                                "state": "new",
                                "email": "john.doe@example.com",
                                "name": "John Doe",
                                "price": 100,
                                "why": "I wanna be the very best",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/applications\/2"
                                    }
                                }
                            },
                            "user": {
                                "id": 2,
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "created": "2016-05-13T13:24:12+0200",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/users\/2"
                                    },
                                    "language": {
                                        "href": "\/api\/languages\/cs"
                                    }
                                },
                                "_embedded": {
                                    "language": {
                                        "id": "cs",
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/languages\/cs"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                ]
            }
        }

### Create Application View [POST]

Creates Application View with given parameters.

+ Request (application/json)

    + Attributes
        + application (number, required) - ID of the viewed Application

    + Body

            {
                "application": 1
            }

+ Response 201 (application/hal+json)

        {
            "ok": true,
            "inserted": {
                "id": 3,
                "created": "2016-05-13T13:24:28+0200",
                "_links": {
                    "self": {
                        "href": "\/api\/application-views\/3"
                    }
                },
                "_embedded": {
                    "application": {
                        "id": 1,
                        "created": "2016-05-13T13:24:27+0200",
                        "state": "new",
                        "email": "john.doe@example.com",
                        "name": "John Doe",
                        "price": 100,
                        "why": "I wanna be the very best",
                        "_links": {
                            "self": {
                                "href": "\/api\/applications\/1"
                            }
                        }
                    },
                    "user": {
                        "id": 4,
                        "name": "John Doe",
                        "email": "john.doe@example.com",
                        "created": "2016-05-13T13:24:27+0200",
                        "_links": {
                            "self": {
                                "href": "\/api\/users\/4"
                            },
                            "language": {
                                "href": "\/api\/languages\/cs"
                            }
                        },
                        "_embedded": {
                            "language": {
                                "id": "cs",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/languages\/cs"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

## Application's Application Views Collection [/api/applications/{application_id}/application-views?limit={limit}&page={page}&sort={sort}]

+ Parameters
    + application_id (number, required) - ID of the Application
    + limit (number, optional) - Limits number of candidates returned in the request
    + page (number, optional) - Distance from beginning of the array of available candidates
    + sort (string, optional) - Sorts the result in the given order. The format for sort is "column+ASC,column+DESC"

### List Application's Application Views [GET]

Lists all Application Views belonging to given Application.

+ Response 200 (application/hal+json)

        {
            "_embedded": {
                "application_views": [
                    {
                        "id": 1,
                        "created": "2016-05-13T13:29:15+0200",
                        "_links": {
                            "self": {
                                "href": "\/api\/application-views\/1"
                            }
                        },
                        "_embedded": {
                            "application": {
                                "id": 1,
                                "created": "2016-05-13T13:29:15+0200",
                                "state": "new",
                                "email": "john.doe@example.com",
                                "name": "John Doe",
                                "price": 100,
                                "why": "I wanna be the very best",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/applications\/1"
                                    }
                                }
                            },
                            "user": {
                                "id": 1,
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "created": "2016-05-13T13:29:15+0200",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/users\/1"
                                    },
                                    "language": {
                                        "href": "\/api\/languages\/cs"
                                    }
                                },
                                "_embedded": {
                                    "language": {
                                        "id": "cs",
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/languages\/cs"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                ]
            }
        }

## Application View [/api/application-views/{id}]

+ Parameters
    + id (number, required) - ID of the Application View

+ Attributes
    + id (number, required) - ID of the Application View
    + created (string, required) - Date when the View was created.
    + embedded.application (object, required) - The Application being viewed - the viewee
    + embedded.user (object, required) - The User viewing the Application - the viewer

### Retrieve Application View [GET]

Retrieves Application View with given ID.

+ Response 200 (applicaiton/hal+json)

        {
            "id": 1,
            "created": "2016-05-13T13:25:26+0200",
            "_links": {
                "self": {
                    "href": "\/api\/application-views\/1"
                }
            },
            "_embedded": {
                "application": {
                    "id": 1,
                    "created": "2016-05-13T13:25:26+0200",
                    "state": "new",
                    "email": "john.doe@example.com",
                    "name": "John Doe",
                    "price": 100,
                    "why": "I wanna be the very best",
                    "_links": {
                        "self": {
                            "href": "\/api\/applications\/1"
                        }
                    }
                },
                "user": {
                    "id": 1,
                    "name": "John Doe",
                    "email": "john.doe@example.com",
                    "created": "2016-05-13T13:25:26+0200",
                    "_links": {
                        "self": {
                            "href": "\/api\/users\/1"
                        },
                        "language": {
                            "href": "\/api\/languages\/cs"
                        }
                    },
                    "_embedded": {
                        "language": {
                            "id": "cs",
                            "_links": {
                                "self": {
                                    "href": "\/api\/languages\/cs"
                                }
                            }
                        }
                    }
                }
            }
        }

### Delete Application View [DELETE]

Deletes Application View with given ID.

+ Response 200 (application/hal+json)

        {"ok": true}



# Group Candidates

## Candidates Collection [/api/candidates?limit={limit}&page={page}&hidden={hidden}&sort={sort}&state={state}]

+ Parameters
    + limit (number, optional) - Limits number of candidates returned in the request
    + page (number, optional) - Distance from beginning of the array of available candidates
    + hidden (boolean, optional) - If set to true, returns also hidden candidates    
    + sort (string, optional) - Sorts the result in the given order. The format for sort is "column+ASC,column+DESC"
    + state (string, optional) - Filters candidates by their state and returns only those with the given state, which can be "completed", "in_progress" or "inactive"

### List Candidates [GET]

Retrieves a list of all Candidates.

+ Response 200 (application/hal+json)

        {
            "page": 2,
            "limit": 1,
            "pages": 3,
            "total": 3,
            "_links": {
                "self": {
                    "href": "\/api\/candidates?page=2&limit=1"
                },
                "first": {
                    "href": "\/api\/candidates?page=1&limit=1"
                },
                "last": {
                    "href": "\/api\/candidates?page=3&limit=1"
                },
                "next": {
                    "href": "\/api\/candidates?page=3&limit=1"
                },
                "previous": {
                    "href": "\/api\/candidates?page=1&limit=1"
                }
            },
            "_embedded": {
                "candidates": [
                    {
                        "id": 1,
                        "created": "2015-10-15T12:04:39+0200",
                        "name": "John Doe",
                        "email": "john.doe@example.com",
                        "note": "Note",
                        "hash": "aaa-aaa-aaa",
                        "avatar": 2,
                        "_links": {
                            "self": {
                                "href": "\/api\/candidates\/2"
                            },
                            "job": {
                                "href": "\/api\/jobs\/1"
                            }
                        },
                        "_embedded": {
                            "number_of_tests": 9,
                            "number_of_completed_tests": 4,
                            "last_completed_test_date": "2015-10-15T12:04:39+0200",
                            "state": "completed"
                        }
                    },
                    {
                        "id": 2,
                        "created": "2013-10-15T12:04:39+0200",
                        "name": "Robert Carter",
                        "email": "robert.carter@example.com",
                        "note": "Some note",
                        "hash": "aaa-aaa-aaa",
                        "avatar": 1,
                        "_links": {
                            "self": {
                                "href": "\/api\/candidates\/2"
                            },
                            "job": {
                                "href": "\/api\/jobs\/1"
                            }
                        },
                        "_embedded": {
                            "number_of_tests": 18,
                            "number_of_completed_tests": 14,
                            "last_completed_test_date": "2015-08-15T12:04:39+0200",
                            "state": "completed"
                        }
                    },
                    {
                        "id": 3,
                        "created": "2014-09-15T12:04:39+0200",
                        "name": "Nicholas Dean",
                        "email": "nicholas.dean@example.com",
                        "note": "Some note",
                        "hash": "aaa-aaa-aaa",
                        "avatar": 3,
                        "_links": {
                            "self": {
                                "href": "\/api\/candidates\/2"
                            },
                            "job": {
                                "href": "\/api\/jobs\/1"
                            }
                        },
                        "_embedded": {
                            "number_of_tests": 11,
                            "number_of_completed_tests": 7,
                            "last_completed_test_date": "2015-04-15T12:04:39+0200",
                            "state": "completed"
                        }
                    }
                ],
                "number_of_candidates": 1,
                "number_of_completed_candidates": 0,
                "number_of_candidatesInProgress": 0,
                "number_of_inactive_candidates": 1
            }
        }


### Create a New Candidate [POST]

Creates a new Candidate for the given Job. You have to provide all parameters.

+ Request (application/json)

        {
            "job": "1",
            "name": "John Doe",
            "email": "john.doe@example.com",
            "note": "I like this one."
        }

+ Response 201 (application/hal+json)

        {
            "ok": true,
            "inserted": {
                "id": 1,
                "created": "2015-12-01T19:25:02+0100",
                "name": "John Doe",
                "email": "john.doe@example.com",
                "note": "I like this one!",
                "hash": "u06-8u4-dwi",
                "avatar": 2,
                "_links": {
                    "self": {
                        "href": "\/api\/candidates\/1"
                    },
                    "job": {
                        "href": "\/api\/jobs\/1"
                    },
                    "company": {
                        "href": "\/api\/companies\/1"
                    }
                },
                "_embedded": {
                    "job": {
                        "id": 1,
                        "created": "2015-12-01T19:25:02+0100",
                        "_links": {
                            "self": {
                                "href": "\/api\/jobs\/1"
                            },
                            "company": {
                                "href": "\/api\/companies\/1"
                            },
                            "candidates": {
                                "href": "\/api\/candidates?job_id=1"
                            }
                        },
                        "_embedded": {
                            "title": [],
                            "description": [],
                            "state": "closed",
                            "number_of_candidates": 1,
                            "number_of_completed_candidates": 1,
                            "number_of_tests": 0
                        }
                    },
                    "company": {
                        "id": 1,
                        "name": "Hiri.cz",
                        "webalized": "hiri-cz",
                        "created": "2015-12-01T19:25:02+0100",
                        "_links": {
                            "self": {
                                "href": "\/api\/companies\/1"
                            },
                            "jobs": {
                                "href": "\/api\/jobs?company_id=1"
                            },
                            "jobs:active": {
                                "href": "\/api\/jobs?company_id=1&active=1"
                            }
                        }
                    },
                    "user": null,
                    "cute_test_fills": [],
                    "testFills": [],
                    "history": [
                        {
                            "op": "created",
                            "date": "2015-12-01T19:25:02+0100"
                        },
                        {
                            "op": "completed"
                        }
                    ],
                    "number_of_tests": 0,
                    "number_of_completed_tests": 0,
                    "last_completed_test_date": null,
                    "state": "completed"
                }
            }
        }

+ Response 400 (application/problem+json)

        {
            "errors": [
                "Job with given ID does not exist.",
                "Invalid email address."
            ],
            "title": "There was a validation error.",
            "type": "https://api.hiri.com/problem/validation_error",
            "status": 400,
            "detail": "You have provided invalid data."
        }

## Company's Candidates Collection [/api/companies/{company_id}/candidates?sort={sort}]

+ Parameters
    + company_id (number, required) - Company's id
    + sort (string, optional) - Sorts the result in the given order. The format for sort is "column+ASC,column+DESC"

### List Company's Candidates [GET]

Retrieves a list of all candidates for the given Company.

+ Response 200 (application/hal+json)

        {
            "_embedded": {
                "candidates": [
                    {
                        "id": 2,
                        "created": "2015-10-15T17:05:08+0200",
                        "name": "John Malcolm",
                        "email": "john.malcolm@example.com",
                        "note": "Note hahaha. NOTE HAHAHA. NOOOOTE hahaha. note HAHAHA. Note hahaha. NOTE HAHAHA. NOOOOTE hahaha. note HAHAHA. Note hahaha. NOTE HAHAHA. NOOOOTE hahaha. note HAHAHA. Note hahaha. NOTE HAHAHA. NOOOOTE hahaha. note HAHAHA. Note hahaha. NOTE HAHAHA. NOOOOTE hahaha. note HAHAHA. Note hahaha. NOTE HAHAHA. NOOOOTE hahaha. note HAHAHA. ",
                        "hash": "aab-aab-aab",
                        "avatar": "4",
                        "_links": {
                            "self": {
                                "href": "\/api\/candidates\/2"
                            },
                            "job": {
                                "href": "\/api\/jobs\/1"
                            }
                        },
                        "_embedded": {
                            "number_of_tests": 4,
                            "number_of_completed_tests": 2,
                            "last_completed_test_date": "2015-10-15T20:05:09+0200",
                            "state": "completed"
                        }
                    },
                    {
                        "id": 1,
                        "created": "2015-10-15T17:05:09+0200",
                        "name": "John Doe",
                        "email": "john.doe@example.com",
                        "note": "Note",
                        "hash": "aaa-aaa-aaa",
                        "avatar": "2",
                        "_links": {
                            "self": {
                                "href": "\/api\/candidates\/1"
                            },
                            "job": {
                                "href": "\/api\/jobs\/1"
                            }
                        },
                        "_embedded": {
                            "number_of_tests": 4,
                            "number_of_completed_tests": 1,
                            "last_completed_test_date": "2015-10-16T10:05:09+0200",
                            "state": "in_progress"
                        }
                    }
                ],
                "number_of_candidates": 2,
                "number_of_completed_candidates": 1,
                "number_of_candidatesInProgress": 1,
                "number_of_inactive_candidates": 0
            }
        }

## Job's Candidates Collection [/api/jobs/{job_id}/candidates?sort={sort}]

+ Parameters
    + job_id (number, required) -Job's id
    + sort (string, optional) - Sorts the result in the given order. The format for sort is "column+ASC,column+DESC"

### List Job's Candidates [GET]

Retrieves a list of all candidates for the given Job.

+ Response 200 (application/hal+json)

        {
            "_embedded": {
                "candidates": [
                    {
                        "id": 2,
                        "created": "2015-10-15T17:05:09+0200",
                        "name": "John Malcolm",
                        "email": "john.malcolm@example.com",
                        "note": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aliquam nulla id turpis rutrum, nec luctus nisl fringilla. Nam tempus mollis neque, in pulvinar est lobortis sed. Mauris ultricies eu erat feugiat rhoncus. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus molestie tincidunt massa sed imperdiet. Donec pellentesque, sem vel sagittis feugiat, dolor felis dignissim elit, nec tincidunt turpis enim sit amet quam. Nunc mollis a<br>rcu at diam lacinia, ut eleifend massa dignissim. Nulla luctus dignissim augue vitae maximus. Integer vehicula condimentum metus, in efficitur ligula auctor sed. Pellentesque rutrum est nisl, vitae varius enim volutpat id. Vivamus vestibulum purus et purus tristique efficitur. Nullam eget diam eleifend, condimentum ante ac, cursus libero. Morbi est dolor, euismod vel lobortis in, vulputate vitae tellus. Proin rutrum eget mauris eu finibus. Etiam turpis dui, tincidunt posuere pretium quis, aliquam sed libero. Suspendisse viverra rhoncus dui, at bibendum ex tempor ut. Curabitur volutpat magna lacus, lacinia dapibus ex molestie sed.",
                        "hash": "aab-aab-aab",
                        "avatar": "2",
                        "_links": {
                            "self": {
                                "href": "\/api\/candidates\/2"
                            },
                            "job": {
                                "href": "\/api\/jobs\/1"
                            }
                        },
                        "_embedded": {
                            "number_of_tests": 4,
                            "number_of_completed_tests": 2,
                            "last_completed_test_date": "2015-10-15T20:05:09+0200",
                            "state": "completed"
                        }
                    },
                    {
                        "id": 1,
                        "created": "2015-10-15T17:05:09+0200",
                        "name": "John Doe",
                        "email": "john.doe@example.com",
                        "note": "Note",
                        "hash": "aaa-aaa-aaa",
                        "avatar": "4",
                        "_links": {
                            "self": {
                                "href": "\/api\/candidates\/1"
                            },
                            "job": {
                                "href": "\/api\/jobs\/1"
                            }
                        },
                        "_embedded": {
                            "number_of_tests": 4,
                            "number_of_completed_tests": 1,
                            "last_completed_test_date": "2015-10-16T10:05:09+0200",
                            "state": "in_progress"
                        }
                    }
                ],
                "number_of_candidates": 2,
                "number_of_completed_candidates": 1,
                "number_of_candidatesInProgress": 1,
                "number_of_inactive_candidates": 0
            }
        }

## Candidate [/api/candidates/{id}]

+ Attributes
    + id (number, required) - The unique id of the Candidate
    + created (string, required) - date when the Candidate was created
    + name (string, required) - Full name of the Candidate
    + email (string, required) - Email address of the Candidate
    + note (string, optional) - Note to the candidate made by Company
    + hash (string, required) - Candidate's access hash
    + avatar(string, required) - Link to Candidate's avatar image or random number between 1-4 if Candidate doesn't have an image.
    + psychometrically_interpreted (string, optional) - Date when the Candidate was psychometrically interpreted.
    + embedded.state (string, required) - Candidate's state - "completed" when Candidate completed all tests, "in_progress" when Candidate completed at least one test, "inactive" when candidate hasn't started testing yet.
    + embedded.history (object, required) - Candidate's history. The operations are "invited" for date when the Candidate was invited for testing, "finished" for finished test, "completed" for completing all tests, "reminded" for each candidate reminder, "first-login" for date of Candidate's first login, "applied" for date of Candidate's Application, "moved-to-application-state" for date when Candidate was moved to another Application State, "reclaimed" for date when Candidate was reclaimed by the Company and "contacted" for date when the Candidate was contacted.
    + embedded.company (object, required) - Candidate's company
    + embedded.number_of_tests (number, required) - Number of Candidate's tests
    + embedded.number_of_completed_tests (number, required) - Number of completed tests
    + embedded.last_completed_test_date (string, required) - Date of last completed test
    + embedded.test_fills (array, required) - Collection of Candidate's Knowledge Test Fills
    + embedded.cute_test_fills (array, required) - Collection of Candidate's Cute Test Fill
    + embedded.last_contact (object, optional) - Last contact, can be null.
    
+ Parameters
    + id (number, required) - Candidate id

### Retrieve a Candidate [GET]

Retrieves a Candidate with the given id.

The states are "completed" when the Candidate completed all tests, "in_progress" when the Candidate completed at least one test and "inactive" when the Candidate hasn't started testing yet.

+ Response 200 (application/hal+json)

        {
            "id": 1,
            "created": "2015-12-14T14:01:53+0100",
            "name": "John Doe",
            "email": "john.doe@example.com",
            "note": "Note",
            "hash": "aaa-aaa-aaa",
            "avatar": "4",
            "_links": {
                "self": {
                    "href": "\/api\/candidates\/1"
                },
                "job": {
                    "href": "\/api\/jobs\/1"
                },
                "company": {
                    "href": "\/api\/companies\/1"
                },
                "user": {
                    "href": "\/api\/users\/1"
                }
            },
            "_embedded": {
                "job": {
                    "id": 1,
                    "created": "2015-12-14T14:01:53+0100",
                    "open_from": "2016-01-10T14:39:09+0200",
                    "open_to": "2016-11-28T17:04:52+0100",
                    "can_candidate_use_other_cute_languages": true,
                    "_links": {
                        "self": {
                            "href": "\/api\/jobs\/1"
                        },
                        "company": {
                            "href": "\/api\/companies\/1"
                        },
                        "candidates": {
                            "href": "\/api\/candidates?job_id=1"
                        }
                    },
                    "_embedded": {
                        "title": {
                            "cs": "Hled\u00e1me Node.js developera",
                            "en": "We are looking for a Node.js developer"
                        },
                        "description": {
                            "cs": "Pod\u00edlej se na v\u00fdvoji nov\u00e9ho pracovn\u00edho port\u00e1lu, kter\u00fd zm\u011bn\u00ed \u010desk\u00fd trh s prac\u00ed.",
                            "en": "Help us build a revolutionary job portal!"
                        },
                        "intro": [],
                        "state": "open",
                        "number_of_candidates": 1,
                        "number_of_completed_candidates": 0,
                        "number_of_tests": 4
                    }
                },
                "company": {
                    "id": 1,
                    "name": "Hiri.cz",
                    "webalized": "hiri-cz",
                    "created": "2015-12-14T14:01:53+0100",
                    "_links": {
                        "self": {
                            "href": "\/api\/companies\/1"
                        },
                        "jobs": {
                            "href": "\/api\/jobs?company_id=1"
                        },
                        "jobs:active": {
                            "href": "\/api\/jobs?company_id=1&active=1"
                        }
                    }
                },
                "user": {
                    "id": 1,
                    "name": "John Doe",
                    "email": "john.doe@example.com",
                    "created": "2015-12-14T14:01:53+0100",
                    "_links": {
                        "self": {
                            "href": "\/api\/users\/1"
                        },
                        "companies": {
                            "href": "\/api\/companies?user_id=1"
                        },
                        "language": {
                            "href": "\/api\/languages\/cs"
                        }
                    }
                },
                "cute_test_fills": [
                    {
                        "id": 1,
                        "start": "2015-11-19T10:53:48+0100",
                        "end": "2015-11-19T11:03:54+0100",
                        "score_number": 10,
                        "redirect_url": "http:\/\/example.com\/",
                        "test_url": "http:\/\/www.cut-e.net\/maptq\/ws\/ws_req.aspx?reqid=81C26FA4-6A5E-4DEC-9A69-700A5B5BF4B5",
                        "_embedded": {
                            "completed": true,
                            "state": "completed",
                            "result_description": "consistency_high",
                            "cute_test": {
                                "id": 2,
                                "_links": {
                                    "self": {
                                        "href": "\/api\/cute-tests\/2"
                                    }
                                },
                                "_embedded": {
                                    "name": {
                                        "cs": "Měření kompetencí",
                                        "en": "Competencies"
                                    },
                                    "intro": {
                                        "en": "Lorem ipsum...",
                                        "cs": "Lorem ipsum..."
                                    },
                                    "result_type": "shapes"
                                }
                            }
                        }
                    },
                    {
                        "id": 3,
                        "start": "2015-11-19T10:53:48+0100",
                        "end": "2015-11-19T11:03:54+0100",
                        "score_number": 85,
                        "redirect_url": "http:\/\/example.com\/",
                        "test_url": "http:\/\/www.cut-e.net\/maptq\/ws\/ws_req.aspx?reqid=81C26FA4-6A5E-4DEC-9A69-700A5B5BF4B5",
                        "_embedded": {
                            "completed": true,
                            "state": "completed",
                            "result_description": "percentile",
                            "cute_test": {
                                "id": 3,
                                "_links": {
                                    "self": {
                                        "href": "\/api\/cute-tests\/3"
                                    }
                                },
                                "_embedded": {
                                    "name": {
                                        "cs": "Deduktivně-logické myšlení",
                                        "en": "Deductively-logical thinking"
                                    },
                                    "intro": {
                                        "en": "Lorem ipsum...",
                                        "cs": "Lorem ipsum..."
                                    },
                                    "result_type": "oi"
                                }
                            }
                        }
                    },
                    {
                        "id": 2,
                        "start": "2015-11-19T10:53:48+0100",
                        "redirect_url": "http:\/\/example.com\/",
                        "test_url": "http:\/\/www.cut-e.net\/maptq\/ws\/ws_req.aspx?reqid=81C26FA4-6A5E-4DEC-9A69-700A5B5BF4B5",
                        "_embedded": {
                            "completed": true,
                            "state": "blocked",
                            "cute_test": {
                                "id": 1,
                                "_links": {
                                    "self": {
                                        "href": "\/api\/cute-tests\/1"
                                    }
                                },
                                "_embedded": {
                                    "name": {
                                        "cs": "Logické myšlení",
                                        "en": "Logical thinking"
                                    },
                                    "intro": {
                                        "en": "Lorem ipsum...",
                                        "cs": "Lorem ipsum..."
                                    },
                                    "result_type": "oi"
                                }
                            }
                        }
                    },
                    {
                        "id": 12,
                        "start": "2015-11-19T10:53:48+0100",
                        "redirect_url": "http:\/\/example.com\/",
                        "test_url": "http:\/\/www.cut-e.net\/maptq\/ws\/ws_req.aspx?reqid=81C26FA4-6A5E-4DEC-9A69-700A5B5BF4B5",
                        "_embedded": {
                            "completed": false,
                            "state": "in_progress",
                            "cute_test": {
                                "id": 5,
                                "_links": {
                                    "self": {
                                        "href": "\/api\/cute-tests\/5"
                                    }
                                },
                                "_embedded": {
                                    "name": {
                                        "cs": "Cute Test 5",
                                        "en": "Cute Test 5"
                                    },
                                    "intro": {
                                        "en": "Lorem ipsum...",
                                        "cs": "Lorem ipsum..."
                                    },
                                    "result_type": "oi"
                                }
                            }
                        }
                    }
                ],
                "test_fills": [
                    {
                        "id": 9,
                        "start": "2015-12-14T14:01:52+0100",
                        "_links": {
                            "self": {
                                "href": "\/api\/test-fills\/1"
                            },
                            "test": {
                                "href": "\/api\/tests\/1"
                            },
                            "drawn_questions": {
                                "href": "\/api\/drawn-questions"
                            }
                        },
                        "_embedded": {
                            "completed": false,
                            "state": "not_started",
                            "test": {
                                "id": 1,
                                "type": "one-page",
                                "number_of_questions": 4,
                                "maximum_time": 300,
                                "shuffle_questions": true,
                                "logo": "http://localhost:8080/images/test-placeholders/placeholder_testu1.svg",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/tests\/1"
                                    }
                                },
                                "_embedded": {
                                    "name": {
                                        "cs": "Znalostní test",
                                        "en": "Knowledge test"
                                    },
                                    "intro": {
                                        "en": "Knowledge test for JavaScript language, level Senior.",
                                        "cs": "Znalostn\u00ed test jazyka JavaScript na \u00farovni Senior,"
                                    },
                                    "average_fill_time": 250
                                }
                            }
                        }
                    },
                    {
                        "id": 2,
                        "start": "2015-11-14T14:01:52+0100",
                        "end": "2015-11-14T14:01:53+0100",
                        "score": 5000,
                        "percentile": 97,
                        "percent": 50,
                        "_links": {
                            "self": {
                                "href": "\/api\/test-fills\/2"
                            },
                            "test": {
                                "href": "\/api\/tests\/2"
                            },
                            "drawn_questions": {
                                "href": "\/api\/drawn-questions"
                            }
                        },
                        "_embedded": {
                            "completed": true,
                            "state": "not_started",
                            "test": {
                                "id": 2,
                                "type": "one-page",
                                "number_of_questions": 5,
                                "maximum_time": 450,
                                "shuffle_questions": false,
                                "logo": "http:\/\/example.com\/test\/1",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/tests\/1"
                                    }
                                },
                                "_embedded": {
                                    "name": {
                                        "cs": "HTML",
                                        "en": "HTML"
                                    },
                                    "intro": {
                                        "en": "Knowledge test for JavaScript language, level Senior.",
                                        "cs": "Znalostn\u00ed test jazyka JavaScript na \u00farovni Senior,"
                                    },
                                    "average_fill_time": 300
                                }
                            }
                        }
                    }
                ],
                "history": [
                    {
                        "op": "applied",
                        "date": "2015-12-14T14:01:53+0100"
                    },
                    {
                        "op": "invited",
                        "date": "2015-12-14T14:01:53+0100"
                    },
                    {
                        "op": "first-login",
                        "date": "2015-12-14T14:01:53+0100"
                    },
                    {
                        "op": "finished",
                        "name": {
                            "en": "JavaScript Senior",
                            "cs": "JavaScript Senior"
                        },
                        "date": "2015-12-14T14:01:53+0100"
                    },
                    {
                        "op": "contacted",
                        "date": "2015-12-14T14:01:53+0100"
                    },
                    {
                        "op": "moved-to-application-state",
                        "application_state": 12,
                        "date": "2015-12-14T14:01:53+0100"
                    },
                    {
                        "op": "reclaimed",
                        "date": "2015-12-14T14:01:53+0100"
                    }
                ],
                "number_of_tests": 4,
                "number_of_completed_tests": 1,
                "last_completed_test_date": "2015-12-14T14:01:53+0100",
                "state": "in_progress"
            },
            "last_contact": {
                "created": "2015-12-14T14:01:53+0100",
                "text": "Vážený pane, Lorem ipsum..."
            }
        }

+ Response 404 (application/problem+json)

        {
            "title": "Your request is invalid.",
            "type": "https://api.hiri.com/problem/bad_request",
            "status": 404,
            "detail": "Candidate with given id does not exist."
        }

### Update a Candidate [PUT]

Allows you to update a Candidate with a provided ID. You don't have to provide all the parameters,
only those provided will be updated.

Note: we chose usability over RESTful corectness, where you have to provide all
the parameters in PUT request otherwise they are deleted.

+ Request (application/json)

        {
            "job": "2",
            "name": "Johnny Doe",
            "email": "johnny.doe@example.com",
            "ip_address": "127.0.0.2",
            "note": "I don't like him anymore!"
        }

+ Response 201 (application/hal+json)

        {
            "ok": true,
            "updated": {
                "id": 1,
                "created": "2015-12-01T19:25:20+0100",
                "name": "Johhny Doe",
                "email": "johnny.doe@example.com",
                "note": "I don't like him anymore.",
                "hash": "aaa-aaa-aaa",
                "avatar": "1",
                "_links": {
                    "self": {
                        "href": "\/api\/candidates\/1"
                    },
                    "job": {
                        "href": "\/api\/jobs\/2"
                    },
                    "company": {
                        "href": "\/api\/companies\/1"
                    }
                },
                "_embedded": {
                    "job": {
                        "id": 2,
                        "created": "2015-12-01T19:25:20+0100",
                        "_links": {
                            "self": {
                                "href": "\/api\/jobs\/2"
                            },
                            "company": {
                                "href": "\/api\/companies\/1"
                            },
                            "candidates": {
                                "href": "\/api\/candidates?job_id=2"
                            }
                        },
                        "_embedded": {
                            "title": [],
                            "description": [],
                            "state": "closed",
                            "number_of_candidates": 1,
                            "number_of_completed_candidates": 1,
                            "number_of_tests": 0
                        }
                    },
                    "company": {
                        "id": 1,
                        "name": "Hiri.cz",
                        "webalized": "hiri-cz",
                        "created": "2015-12-01T19:25:20+0100",
                        "_links": {
                            "self": {
                                "href": "\/api\/companies\/1"
                            },
                            "jobs": {
                                "href": "\/api\/jobs?company_id=1"
                            },
                            "jobs:active": {
                                "href": "\/api\/jobs?company_id=1&active=1"
                            }
                        }
                    },
                    "user": {
                        "id": 1,
                        "name": "John Doe",
                        "email": "john.doe@example.com",
                        "created": "2015-12-01T19:25:20+0100",
                        "_links": {
                            "self": {
                                "href": "\/api\/users\/1"
                            },
                            "companies": {
                                "href": "\/api\/companies?user_id=1"
                            },
                            "language": {
                                "href": "Languages:readAll"
                            }
                        }
                    },
                    "cute_test_fills": [],
                    "testFills": [],
                    "history": [
                        {
                            "op": "created",
                            "date": "2015-12-01T19:25:20+0100"
                        },
                        {
                            "op": "completed"
                        }
                    ],
                    "number_of_tests": 0,
                    "number_of_completed_tests": 0,
                    "last_completed_test_date": null,
                    "state": "completed"
                }
            }
        }

### Hide a Candidate [DELETE]

Allows you to archive a Candidate with a provided ID. The candidate won't be visible
for you anymore.

+ Response 200 (application/hal+json)

        {
            "ok": true
        }


# Group Candidate Contacts

## Candidate Contacts Collection [/api/candidate-contacts?limit={limit}&page={page}&sort={sort}]

+ Parameters
    + limit (number, optional) - Limits number of candidate contacts returned in the request
    + page (number, optional) - Distance from beginning of the array of available candidate contacts
    + sort (string, optional) - Sorts the result in the given order. The format for sort is "column+ASC,column+DESC"

### List Candidate Contacts [GET]

Lists Candidate Contacts.

+ Response 200 (application/hal+json)

        {
            "_embedded": {
                "candidate_contacts": [
                    {
                        "id": 1,
                        "subject": "Hola!",
                        "text": "Dear [name], Lorem Ipsum!",
                        "created": "2016-03-04T20:22:11+0100",
                        "type": "contact",
                        "_links": {
                            "self": {
                                "href": "\/api\/candidate-contacts\/1"
                            }
                        },
                        "_embedded": {
                            "candidate": {
                                "id": 1,
                                "created": "2016-03-04T20:22:11+0100",
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "note": "Note",
                                "hash": "aaa-aaa-aaa",
                                "avatar": "1",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/candidates\/1"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    }
                                },
                                "_embedded": {
                                    "number_of_tests": 0,
                                    "number_of_completed_tests": 0,
                                    "last_completed_test_date": null,
                                    "state": "inactive"
                                }
                            }
                        }
                    },
                    {
                        "id": 2,
                        "subject": "Hola!",
                        "text": "Dear [name], Lorem Ipsum!",
                        "created": "2016-03-04T20:22:11+0100",
                        "type": "contact",
                        "_links": {
                            "self": {
                                "href": "\/api\/candidate-contacts\/2"
                            }
                        },
                        "_embedded": {
                            "candidate": {
                                "id": 2,
                                "created": "2016-03-04T20:22:11+0100",
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "note": "Note",
                                "hash": "aaa-aaa-aaa",
                                "avatar": "1",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/candidates\/2"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    }
                                },
                                "_embedded": {
                                    "number_of_tests": 0,
                                    "number_of_completed_tests": 0,
                                    "last_completed_test_date": null,
                                    "state": "inactive"
                                }
                            }
                        }
                    }
                ]
            }
        }

### Create Candidate Contact [POST]

Creates a Candidate Contact with given parameters.

+ Request (application/json)

    + Attributes
        + candidate (number, required) - ID of the Candidate
        + subject (string, required) - Subject of the contact
        + text (string, required) - Text of the contact
        + type (string, required) - Type of the contact. Can be 'reminder' for reminding Candidate to fill tests, 'refusal' to refuse the Candidate and 'contact' for everything else.

    + Body

            {
                "candidate": 1,
                "subject": "Lorem ...",
                "text": "Lorem ipsum dolor sit amet, consectetur adipiccumsan nulla Nam suscipit vitae libero quis porttitor.",
                "type": "contact"
            }

+ Response 201 (application/hal+json)

        {
            "ok": true,
            "inserted": {
                "id": 1,
                "subject": "Lorem ...",
                "text": "Lorem ipsum dolor sit amet, consectetur adipiccumsan nulla Nam suscipit vitae libero quis porttitor.",
                "created": "2016-03-04T20:22:59+0100",
                "type": "contact",
                "_links": {
                    "self": {
                        "href": "\/api\/candidate-contacts\/7"
                    }
                },
                "_embedded": {
                    "candidate": {
                        "id": 1,
                        "created": "2016-03-04T20:22:59+0100",
                        "name": "John Doe",
                        "email": "john.doe@example.com",
                        "note": "Note",
                        "hash": "aaa-aaa-aaa",
                        "avatar": "2",
                        "_links": {
                            "self": {
                                "href": "\/api\/candidates\/1"
                            },
                            "job": {
                                "href": "\/api\/jobs\/1"
                            },
                            "company": {
                                "href": "\/api\/companies\/1"
                            }
                        },
                        "_embedded": {
                            "number_of_tests": 0,
                            "number_of_completed_tests": 0,
                            "last_completed_test_date": null,
                            "state": "inactive"
                        }
                    }
                }
            }
        }

## Candidate's Candidate Contacts Collection [/api/candidates/{candidate_id}/candidate-contacts?limit={limit}&page={page}&sort={sort}]

+ Parameters
    + candidate_id (number, required) - ID of the Candidate
    + limit (number, optional) - Limits number of candidate contacts returned in the request
    + page (number, optional) - Distance from beginning of the array of available candidate contacts
    + sort (string, optional) - Sorts the result in the given order. The format for sort is "column+ASC,column+DESC"

### List Candidate's Candidate Contacts [GET]

Lists Candidate's Candidate Contacts.

+ Response 200 (application/hal+json)

        {
            "_embedded": {
                "candidate_contacts": [
                    {
                        "id": 1,
                        "subject": "Hola!",
                        "text": "Dear [name], Lorem Ipsum!",
                        "created": "2016-03-04T20:22:11+0100",
                        "type": "contact",
                        "_links": {
                            "self": {
                                "href": "\/api\/candidate-contacts\/1"
                            }
                        },
                        "_embedded": {
                            "candidate": {
                                "id": 1,
                                "created": "2016-03-04T20:22:11+0100",
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "note": "Note",
                                "hash": "aaa-aaa-aaa",
                                "avatar": "1",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/candidates\/1"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    }
                                },
                                "_embedded": {
                                    "number_of_tests": 0,
                                    "number_of_completed_tests": 0,
                                    "last_completed_test_date": null,
                                    "state": "inactive"
                                }
                            }
                        }
                    }
                ]
            }
        }

## Company's Candidate Contacts [/api/companies/{company_id}/candidate-contacts?limit={limit}&page={page}&sort={sort}]

+ Parameters
    + company-id (number, required) - ID of the Company
    + limit (number, optional) - Limits number of candidate contacts returned in the request
    + page (number, optional) - Distance from beginning of the array of available candidate contacts
    + sort (string, optional) - Sorts the result in the given order. The format for sort is "column+ASC,column+DESC"

### List Company's Candidate Contacts [GET]

Lists Company's Candidate Contacts.

+ Response 200 (application/hal+json)

        {
            "_embedded": {
                "candidate_contacts": [
                    {
                        "id": 1,
                        "subject": "Hola!",
                        "text": "Dear [name], Lorem Ipsum!",
                        "created": "2016-03-04T20:22:42+0100",
                        "type": "contact",
                        "_links": {
                            "self": {
                                "href": "\/api\/candidate-contacts\/1"
                            }
                        },
                        "_embedded": {
                            "candidate": {
                                "id": 1,
                                "created": "2016-03-04T20:22:42+0100",
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "note": "Note",
                                "hash": "aaa-aaa-aaa",
                                "avatar": "3",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/candidates\/1"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    }
                                },
                                "_embedded": {
                                    "number_of_tests": 0,
                                    "number_of_completed_tests": 0,
                                    "last_completed_test_date": null,
                                    "state": "inactive"
                                }
                            }
                        }
                    }
                ]
            }
        }

## Candidate Contact [/api/candidate-contacts/{id}]

+ Attributes
    + id (number, required) - ID of the Candidate Contact
    + subject (string, required) - Subject of the Candidate Contact
    + text (string, required) - Text of the Candidate Contact
    + type (string, required) - Type of the Candidate Contact. Can be 'reminder' for reminding Candidate to fill tests, 'refusal' to refuse the Candidate and 'contact' for everything else.
    + embedded.candidate (number, required) - ID of the Candidate

+ Parameters
    + id (number, required) - ID of the Candidate Contact

### Retrieve Candidate Contact [GET]

Retrieves Candidate Contact with given ID.

+ Response 200 (application/hal+json)

        {
            "id": 1,
            "subject": "Hola!",
            "text": "Dear [name], Lorem Ipsum!",
            "created": "2016-03-04T20:23:20+0100",
            "type": "contact",
            "_links": {
                "self": {
                    "href": "\/api\/candidate-contacts\/1"
                }
            },
            "_embedded": {
                "candidate": {
                    "id": 1,
                    "created": "2016-03-04T20:23:20+0100",
                    "name": "John Doe",
                    "email": "john.doe@example.com",
                    "note": "Note",
                    "hash": "aaa-aaa-aaa",
                    "avatar": "2",
                    "_links": {
                        "self": {
                            "href": "\/api\/candidates\/1"
                        },
                        "job": {
                            "href": "\/api\/jobs\/1"
                        },
                        "company": {
                            "href": "\/api\/companies\/1"
                        }
                    },
                    "_embedded": {
                        "number_of_tests": 0,
                        "number_of_completed_tests": 0,
                        "last_completed_test_date": null,
                        "state": "inactive"
                    }
                }
            }
        }

### Update Candidate Contact [PUT]

Updates Candidate Contact with given data.

+ Request (application/json)

    + Attributes
        + subject (string, required) - Subject of the contact
        + text (string, required) - Text of the contact
        + type (string, required) - Type of the contact. Can be 'reminder' for reminding Candidate to fill tests, 'refusal' to refuse the Candidate and 'contact' for everything else.

    + Body

            {
                "subject": "Hola!",
                "text": "whoops, typo!"
            }

+ Response 200 (application/hal+json)

        {
            "ok": true,
            "updated": {
                "id": 1,
                "subject": "Hola!",
                "text": "whoops, typo!",
                "created": "2016-03-04T20:23:53+0100",
                "type": "contact",
                "_links": {
                    "self": {
                        "href": "\/api\/candidate-contacts\/1"
                    }
                },
                "_embedded": {
                    "candidate": {
                        "id": 1,
                        "created": "2016-03-04T20:23:53+0100",
                        "name": "John Doe",
                        "email": "john.doe@example.com",
                        "note": "Note",
                        "hash": "aaa-aaa-aaa",
                        "avatar": "2",
                        "_links": {
                            "self": {
                                "href": "\/api\/candidates\/1"
                            },
                            "job": {
                                "href": "\/api\/jobs\/1"
                            },
                            "company": {
                                "href": "\/api\/companies\/1"
                            }
                        },
                        "_embedded": {
                            "number_of_tests": 0,
                            "number_of_completed_tests": 0,
                            "last_completed_test_date": null,
                            "state": "inactive"
                        }
                    }
                }
            }
        }

### Soft delete Candidate Contact [DELETE]

Soflty deletes Candidate Contact.

+ Response 200 (application/hal+json)

        {
            "ok": true
        }

# Group Candidate Complaints

## Candidate Complaints Collection [/api/candidate-complaints?limit={limit}&page={page}&sort={sort}]

+ Parameters
    + limit (number, optional) - Limits number of candidates returned in the request
    + page (number, optional) - Distance from beginning of the array of available candidates
    + sort (string, optional) - Sorts the result in the given order. The format for sort is "column+ASC,column+DESC"

### List Candidate Complaints [GET]

Lists Candidate Complaints

+ Response 200 (application/hal+json)

        {
            "_embedded": {
                "candidate_complaints": [
                    {
                        "id": 1,
                        "reason": "fake",
                        "created": "2016-03-07T16:27:51+0100",
                        "text": "Lorem ipsum",
                        "_links": {
                            "self": {
                                "href": "\/api\/candidate-complaints\/1"
                            }
                        },
                        "_embedded": {
                            "candidate": {
                                "id": 1,
                                "created": "2016-03-07T16:27:51+0100",
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "note": "Note",
                                "hash": "aaa-aaa-aaa",
                                "avatar": "2",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/candidates\/1"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    }
                                },
                                "_embedded": {
                                    "number_of_tests": 0,
                                    "number_of_completed_tests": 0,
                                    "last_completed_test_date": null,
                                    "state": "inactive"
                                }
                            },
                            "created_by": {
                                "id": 1,
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "created": "2016-03-07T16:27:51+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/users\/1"
                                    },
                                    "companies": {
                                        "href": "\/api\/companies?user_id=1"
                                    },
                                    "language": {
                                        "href": "\/api\/languages\/cs"
                                    }
                                },
                                "_embedded": {
                                    "language": {
                                        "id": "cs",
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/languages\/cs"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    {
                        "id": 2,
                        "reason": "irrelevant",
                        "created": "2016-03-07T16:27:51+0100",
                        "text": "Lorem ipsum",
                        "_links": {
                            "self": {
                                "href": "\/api\/candidate-complaints\/2"
                            }
                        },
                        "_embedded": {
                            "candidate": {
                                "id": 2,
                                "created": "2016-03-07T16:27:51+0100",
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "note": "Note",
                                "hash": "aaa-aaa-aaa",
                                "avatar": "3",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/candidates\/2"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    }
                                },
                                "_embedded": {
                                    "number_of_tests": 0,
                                    "number_of_completed_tests": 0,
                                    "last_completed_test_date": null,
                                    "state": "inactive"
                                }
                            },
                            "created_by": {
                                "id": 1,
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "created": "2016-03-07T16:27:51+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/users\/1"
                                    },
                                    "companies": {
                                        "href": "\/api\/companies?user_id=1"
                                    },
                                    "language": {
                                        "href": "\/api\/languages\/cs"
                                    }
                                },
                                "_embedded": {
                                    "language": {
                                        "id": "cs",
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/languages\/cs"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                ]
            }
        }

### Create Candidate Complaint [POST]

Creates Candidate Complaint with given parameters.

+ Request (application/json)

    + Attributes
        + candidate (number, required) - ID of the Candidate
        + reason (string, required) - Reason for the Complaint. Can be 'fake', 'irrelevant' or 'testing'.
        + text (string, required) - Text of the Complaint

    + Body

            {
                "candidate": 1,
                "reason": "fake",
                "text": "Lorem ipsum"
            }

+ Response 201 (application/hal+json)

        {
            "ok": true,
            "inserted": {
                "id": 4,
                "reason": "fake",
                "created": "2016-03-07T16:28:06+0100",
                "text": "Lorem ipsum",
                "_links": {
                    "self": {
                        "href": "\/api\/candidate-complaints\/4"
                    }
                },
                "_embedded": {
                    "candidate": {
                        "id": 1,
                        "created": "2016-03-07T16:28:07+0100",
                        "name": "John Doe",
                        "email": "john.doe@example.com",
                        "note": "Note",
                        "hash": "aaa-aaa-aaa",
                        "avatar": "3",
                        "_links": {
                            "self": {
                                "href": "\/api\/candidates\/1"
                            },
                            "job": {
                                "href": "\/api\/jobs\/1"
                            },
                            "company": {
                                "href": "\/api\/companies\/1"
                            }
                        },
                        "_embedded": {
                            "number_of_tests": 0,
                            "number_of_completed_tests": 0,
                            "last_completed_test_date": null,
                            "state": "inactive"
                        }
                    },
                    "created_by": {
                        "id": 1,
                        "name": "John Doe",
                        "email": "john.doe@example.com",
                        "created": "2016-03-07T16:28:07+0100",
                        "_links": {
                            "self": {
                                "href": "\/api\/users\/1"
                            },
                            "companies": {
                                "href": "\/api\/companies?user_id=1"
                            },
                            "language": {
                                "href": "\/api\/languages\/cs"
                            }
                        },
                        "_embedded": {
                            "language": {
                                "id": "cs",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/languages\/cs"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

## Candidate's Candidate Complaints Collection [/api/candidates/{candidate_id}/candidate-complaints?limit={limit}&page={page}&sort={sort}]

+ Parameters
    + candidate_id (number, required) - Candidate's ID
    + limit (number, optional) - Limits number of candidates returned in the request
    + page (number, optional) - Distance from beginning of the array of available candidates
    + sort (string, optional) - Sorts the result in the given order. The format for sort is "column+ASC,column+DESC"

### List Candidate's Candidate Complaints [GET]

Lists Candidate's Candidate Complaints

+ Response 200 (application/hal+json)

        {
            "_embedded": {
                "candidate_complaints": [
                    {
                        "id": 1,
                        "reason": "fake",
                        "created": "2016-03-07T16:28:02+0100",
                        "text": "Lorem ipsum",
                        "_links": {
                            "self": {
                                "href": "\/api\/candidate-complaints\/1"
                            }
                        },
                        "_embedded": {
                            "candidate": {
                                "id": 1,
                                "created": "2016-03-07T16:28:02+0100",
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "note": "Note",
                                "hash": "aaa-aaa-aaa",
                                "avatar": "1",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/candidates\/1"
                                    },
                                    "job": {
                                        "href": "\/api\/jobs\/1"
                                    },
                                    "company": {
                                        "href": "\/api\/companies\/1"
                                    }
                                },
                                "_embedded": {
                                    "number_of_tests": 0,
                                    "number_of_completed_tests": 0,
                                    "last_completed_test_date": null,
                                    "state": "inactive"
                                }
                            },
                            "created_by": {
                                "id": 1,
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "created": "2016-03-07T16:28:01+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/users\/1"
                                    },
                                    "companies": {
                                        "href": "\/api\/companies?user_id=1"
                                    },
                                    "language": {
                                        "href": "\/api\/languages\/cs"
                                    }
                                },
                                "_embedded": {
                                    "language": {
                                        "id": "cs",
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/languages\/cs"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                ]
            }
        }

## Candidate Complaint [/api/candidate-complaints/{id}]

+ Attributes
    + id (number, required) - ID of the Candidate Complaint
    + reason (string, required) - Reason of the complaint. Can be 'fake', 'irrelevant' or 'testing'.
    + created (string, required) - Date when the Candidate Complaint was created.
    + embedded.candidate (object, required) - Candidate in question
    + embedded.created_by (object, required) - User who created the Candidate Complaint

+ Parameters
    + id (number, required) - ID of the Candidate Complaint

### Retrieve Candidate Complaint [GET]

Retrieves Candidate Complaint with given ID.

+ Response 200 (application/hal+json)

        {
            "id": 1,
            "reason": "fake",
            "created": "2016-03-07T16:28:28+0100",
            "text": "Lorem ipsum",
            "_links": {
                "self": {
                    "href": "\/api\/candidate-complaints\/1"
                }
            },
            "_embedded": {
                "candidate": {
                    "id": 1,
                    "created": "2016-03-07T16:28:28+0100",
                    "name": "John Doe",
                    "email": "john.doe@example.com",
                    "note": "Note",
                    "hash": "aaa-aaa-aaa",
                    "avatar": "3",
                    "_links": {
                        "self": {
                            "href": "\/api\/candidates\/1"
                        },
                        "job": {
                            "href": "\/api\/jobs\/1"
                        },
                        "company": {
                            "href": "\/api\/companies\/1"
                        }
                    },
                    "_embedded": {
                        "number_of_tests": 0,
                        "number_of_completed_tests": 0,
                        "last_completed_test_date": null,
                        "state": "inactive"
                    }
                },
                "created_by": {
                    "id": 1,
                    "name": "John Doe",
                    "email": "john.doe@example.com",
                    "created": "2016-03-07T16:28:28+0100",
                    "_links": {
                        "self": {
                            "href": "\/api\/users\/1"
                        },
                        "companies": {
                            "href": "\/api\/companies?user_id=1"
                        },
                        "language": {
                            "href": "\/api\/languages\/cs"
                        }
                    },
                    "_embedded": {
                        "language": {
                            "id": "cs",
                            "_links": {
                                "self": {
                                    "href": "\/api\/languages\/cs"
                                }
                            }
                        }
                    }
                }
            }
        }

### Update Candidate Complaint [PUT]

Updates Candidate Complaint with given ID.

+ Request (application/json)

    + Attributes
        + candidate (number, optional) - ID of the Candidate
        + reason (string, optional) - Reason for the Complaint. Can be 'fake', 'irrelevant' or 'testing'.
        + text (string, optional) - Text of the Complaint

    + Body

            {
                "candidate": 1,
                "reason": "fake",
                "text": "Lorem ipsum"
            }

+ Response 200 (application/hal+json)

        {
            "ok": true,
            "updated": {
                "id": 1,
                "reason": "irrelevant",
                "created": "2016-03-07T16:28:48+0100",
                "text": "Lorem ipsum",
                "_links": {
                    "self": {
                        "href": "\/api\/candidate-complaints\/1"
                    }
                },
                "_embedded": {
                    "candidate": {
                        "id": 1,
                        "created": "2016-03-07T16:28:48+0100",
                        "name": "John Doe",
                        "email": "john.doe@example.com",
                        "note": "Note",
                        "hash": "aaa-aaa-aaa",
                        "avatar": "2",
                        "_links": {
                            "self": {
                                "href": "\/api\/candidates\/1"
                            },
                            "job": {
                                "href": "\/api\/jobs\/1"
                            },
                            "company": {
                                "href": "\/api\/companies\/1"
                            }
                        },
                        "_embedded": {
                            "number_of_tests": 0,
                            "number_of_completed_tests": 0,
                            "last_completed_test_date": null,
                            "state": "inactive"
                        }
                    },
                    "created_by": {
                        "id": 1,
                        "name": "John Doe",
                        "email": "john.doe@example.com",
                        "created": "2016-03-07T16:28:47+0100",
                        "_links": {
                            "self": {
                                "href": "\/api\/users\/1"
                            },
                            "companies": {
                                "href": "\/api\/companies?user_id=1"
                            },
                            "language": {
                                "href": "\/api\/languages\/cs"
                            }
                        },
                        "_embedded": {
                            "language": {
                                "id": "cs",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/languages\/cs"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }



### Soft Delete Candidate Complaint [DELETE]

Softly deletes Candidate Complaint with given ID.

+ Response 200 (application/hal+json)

        {
            "ok": true
        }



# Group Company Administrators

## Company Administrators Collection [/api/company-administrators?limit={limit}&page={page}&sort={sort}]

+ Parameters
    + limit (number, optional) - Limits number of company administrators returned in the request
    + page (number, optional) - Distance from beginning of the array of available company administrators
    + sort (string, optional) - Sorts the result in the given order. The format for sort is "column+ASC,column+DESC"

### List Company Administrators [GET]

Lists all Company Administrators.

+ Response 200 (application/hal+json)

        {
            "_embedded": {
                "company_administrators": [
                    {
                        "id": 1,
                        "role": "boss",
                        "email": "john.doe@example.com",
                        "name": "John Doe",
                        "created": "2016-03-10T16:50:52+0100",
                        "_links": {
                            "self": {
                                "href": "\/api\/company-administrators\/1"
                            }
                        },
                        "_embedded": {
                            "company": {
                                "id": 1,
                                "name": "Hiri.cz",
                                "webalized": "hiri-cz",
                                "created": "2016-03-10T16:50:51+0100",
                                "address": "Sp\u00e1len\u00e1 1",
                                "city": "Praha",
                                "country": "\u010cesk\u00e1 republika",
                                "first_name_basis": false,
                                "_links": {
                                    "self": {
                                        "href": "\/api\/companies\/1"
                                    },
                                    "jobs": {
                                        "href": "\/api\/jobs?company_id=1"
                                    },
                                    "jobs:active": {
                                        "href": "\/api\/jobs?company_id=1&active=1"
                                    }
                                }
                            },
                            "user": {
                                "id": 1,
                                "name": "John Doe",
                                "email": "john.doe@example.com",
                                "created": "2016-03-10T16:50:52+0100",
                                "_links": {
                                    "self": {
                                        "href": "\/api\/users\/1"
                                    },
                                    "companies": {
                                        "href": "\/api\/companies?user_id=1"
                                    },
                                    "language": {
                                        "href": "\/api\/languages\/cs"
                                    }
                                },
                                "_embedded": {
                                    "language": {
                                        "id": "cs",
                                        "_links": {
                                            "self": {
                                                "href": "\/api\/languages\/cs"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    {
                        "id": 2,
                        "role": "boss",
                        "email": "janko.naucny@example.com",
                        "name": "Janko Naucny",
                        "created": "2015-01-10T16:50:52+0100",
                        "_links": {
                            "self": {
                                "href": "\/api\/company-administrators\/2"
                            }
                        },
                        "_embedded": {
                            "company": {
                                "id": 1,
                                "name": "Hiri.cz",
                                "webalized": "hiri-cz",
                                "created": "2016-03-10T16:50:51+0100",
                                "address": "Sp\u00e1len\u00e1 1",
[...]
